/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: if you use <code> tags somewhere */
code {
  font-family: 'Courier New', Courier, monospace;
}
